.psd{ background:url("psd.png") top left no-repeat; }
.开杰_r15_c36{ width:1020px; height:330px; background-position:-10px -10px; }
.开杰_r27_c3{ width:42px; height:143px; background-position:-10px -350px; }
.开杰_r22_c3{ width:42px; height:143px; background-position:-62px -350px; }
.开杰_r25_c26{ width:21px; height:139px; background-position:-114px -350px; }
.开杰_r29_c24{ width:290px; height:86px; background-position:-145px -350px; }
.开杰_r20_c3{ width:1000px; height:84px; background-position:-10px -503px; }
.开杰_r17_c23{ width:69px; height:78px; background-position:-445px -350px; }
.开杰_r17_c18{ width:78px; height:78px; background-position:-524px -350px; }
.开杰_r18_c7{ width:77px; height:77px; background-position:-612px -350px; }
.开杰_r38_c19{ width:190px; height:76px; background-position:-699px -350px; }
.开杰_r8_c3{ width:328px; height:48px; background-position:-10px -597px; }
.开杰_r2_c42{ width:44px; height:41px; background-position:-899px -350px; }
.开杰_r7_c36{ width:38px; height:40px; background-position:-953px -350px; }
.开杰_r36_c6{ width:100px; height:40px; background-position:-348px -597px; }
.开杰_r7_c39{ width:204px; height:39px; background-position:-458px -597px; }
.开杰_r7_c41{ width:34px; height:39px; background-position:-672px -597px; }
.开杰_r13_c36{ width:38px; height:38px; background-position:-716px -597px; }
.开杰_r42_c25{ width:75px; height:28px; background-position:-764px -597px; }
.开杰_r40_c22{ width:219px; height:24px; background-position:-10px -655px; }
.开杰_r23_c15{ width:18px; height:22px; background-position:-1001px -350px; }
.开杰_r23_c13{ width:18px; height:22px; background-position:-849px -597px; }
.开杰_r30_c9{ width:14px; height:16px; background-position:-877px -597px; }
.开杰_r4_c4{ width:13px; height:13px; background-position:-901px -597px; }
.开杰_r4_c29{ width:12px; height:13px; background-position:-924px -597px; }
.开杰_r5_c33{ width:11px; height:12px; background-position:-946px -597px; }
.开杰_r11_c35{ width:8px; height:6px; background-position:-1020px -503px; }
.开杰_r34_c27{ width:3px; height:3px; background-position:-967px -597px; }

